@font-face{
    font-family: Lora;
    src: url(./fonts/Lora-Regular.ttf);
}
@font-face{
    font-family: Lato;
    src: url(./fonts/Lato-Light.ttf);
}
body{
    margin: 0px;
    position: relative;
}
body:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    -webkit-app-region: drag;
    z-index: 1;
}
.menu{
    width: 100%;
    height: 90px;
    box-shadow: 0 0 8px rgba(0,0,0,0.15);
    background: #FFF;
    position: fixed;
    z-index: 1;
}
svg{
    position: absolute;
}
.device{
    width: 35px;
    left: 8%;
}
.read{
    width: 80px;
    left: 15%;
}
.add{
    width: 25px;
    left: calc(50% - 12.5px);
}
.list{
    width: 20px;
    right: 5%;
}
.holder{
    min-height: calc(100vh - 140px);
    width: 96vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 140px 0px 0px 4vw;
}
.books{
    flex: 0 0 20vw;
    margin: 0 4vw 50px 0;
    white-space: nowrap;
    opacity: 0;
}
.books div:before{
    content: '';
    padding-top: 149.89%;
    display: block;
}
.books div{
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}
.books img{
    width: 100%;
    position: absolute;
    top: 0;
}
.books h2{
    width: 20vw;
    height: 20px;
    font-family: Lora;
    font-size: 16px;
    margin-bottom: 5px;
    letter-spacing: 0.5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.books h3{
    font-family: Lato;
    font-size: 14px;
    color: #CBCBCB;
    margin: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    letter-spacing: 0.3px;
}
.drag{
    color: #DBDBDB;
    background: rgba(0,0,0,0.90);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    visibility: hidden;
    opacity: 0;
    justify-content: center;
    align-items: center;
    outline: 1px dashed #fff;
    outline-offset: -130px;
    transition: all 250ms ease-in-out;
}
.drag-hover{
    visibility: visible;
    opacity: 1;
}
.drag h2{
    font-family: Lato;
}
@keyframes show{
  0%{
    opacity: 0;
    transform: translateY(20px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}