@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }
@font-face {
    font-family: FreeFontSerif;
    font-style: normal;
    font-weight: normal;
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: FreeFontSerif;
    font-style: normal;
    font-weight: bold;
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: FreeFontSerif;
    font-style: italic;
    font-weight: normal;
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: FreeFontSerif;
    font-style: italic;
    font-weight: bold;
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: FreeFontSans;
    font-style: normal;
    font-weight: normal;
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: FreeFontSans;
    font-style: normal;
    font-weight: bold;
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: FreeFontSans;
    font-style: italic;
    font-weight: normal;
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: FreeFontSans;
    font-style: italic;
    font-weight: bold;
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: FreeFontMono;
    font-style: normal;
    font-weight: normal;
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: FreeFontMono;
    font-style: normal;
    font-weight: bold;
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: FreeFontMono;
    font-style: italic;
    font-weight: normal;
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: FreeFontMono;
    font-style: italic;
    font-weight: bold;
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
